
html {
	font-size:100.01%;
}

body {
	font-size: 81.3%;
	line-height: 1.7em;
}

input,
textarea {
	font-size: 1em;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0 0 .6em 0;
	line-height: 1.2em;
	font-style: italic;
	font-weight: normal;
}

h1 {
	font-size:3.5em;
	margin: 0 0 45px 0;
	padding: 11px 0 0 0;
	letter-spacing: -.02em;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

h2 {
	font-size:1.8em;
	letter-spacing: -.02em;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

h3 {
	font-size:1.3em;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

h4 {
	font-size:1.2em;
	font-style: normal;
}

h5 {
	font-size:1em;
	font-weight:bold;
	font-style: normal;
}

h6 {
	font-size:1em;
	font-weight:bold;
	font-style: normal;
}

h1 img,h2 img,h3 img,h4 img,h5 img,h6 img {
	margin:0;
}

.entry h2,
.entry h3,
.entry h4,
.entry h5,
.entry h6 {
	padding: .5em 0 0 0;
}

	
/* Text elements
-------------------------------------------------------------- */
p {
	margin:0 0 1.5em;
}


blockquote {
	margin:1.5em;
	font-style:italic;
}

strong,dfn {
	font-weight:bold;
}

em,dfn {
	font-style:italic;
}

sup,sub {
	line-height:0;
}

abbr,acronym {
	border-bottom:1px dotted #666;
}

address {
	margin:0 0 1.5em;
	font-style:italic;
}

del {
	color:#666;
}

pre {
	margin:1.5em 0;
	white-space:pre;
}

pre,code,tt {
	font:1em 'andale mono', 'lucida console', monospace;
	line-height:1.5;
}


	
/* Lists
-------------------------------------------------------------- */
ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
	margin: 0;
	padding: 0;
}

.entry li ul,
.entry li ol {
	margin:0;
}

.entry ul,
.entry ol {
	margin:0 1.5em 1.5em 0;
	padding-left:1.5em;
}

.entry ul {
	list-style-type:disc;
}

.entry ol {
	list-style-type:decimal;
}

.entry ol ol {
	list-style-type: lower-alpha;
}

.entry ul ul,
.entry ol ol {
	margin-bottom: 0;
}

.entry dl {
	margin:0 0 1.5em;
}

.entry dl dt {
	font-weight:bold;
}

.entry dd {
	margin-left:1.5em;
}


	
/* Tables
-------------------------------------------------------------- */

	
/* 
	Because of the need for padding on TH and TD, the vertical rhythm 
	on table cells has to be 27px, instead of the standard 18px or 36px 
	of other elements. 
 */
table {
	margin-bottom:1.4em;
	}

th {
	font-weight:bold;
}

th,td,caption {
	padding:4px 10px 4px 5px;
	vertical-align: top;
	text-align: left;
}

tfoot {
	font-style:italic;
}

caption {
	background:#eee;
}

	
/* Misc classes
-------------------------------------------------------------- */
